* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color : #202020;
    --text-color : antiquewhite;
    --theme-color :  #AFDEDC; /* #2E0F0A : choco , lake blue : 7392B7, soft green : AFDEDC*/
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}